
RedditLiveStats.Tests/bin/Debug/net7.0/nunit_random_seed.tmp
RedditLiveStats.Tests/obj/Debug/net7.0/RedditLiveStats.Tests.csproj.AssemblyReference.cache
RedditLiveStats/bin/Debug/net7.0/appsettings.Development.json
RedditLiveStats/bin/Debug/net7.0/appsettings.json
RedditLiveStats/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Bcl.TimeProvider.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
RedditLiveStats.Tests/bin/Debug/net7.0/nunit_random_seed.tmp
RedditLiveStats.Tests/obj/Debug/net7.0/RedditLiveStats.Tests.csproj.AssemblyReference.cache
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Http.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Http.Polly.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
RedditLiveStats/bin/Debug/net7.0/Microsoft.OpenApi.dll
RedditLiveStats/bin/Debug/net7.0/Newtonsoft.Json.dll
RedditLiveStats/bin/Debug/net7.0/Polly.Core.dll
RedditLiveStats/bin/Debug/net7.0/Polly.dll
RedditLiveStats/bin/Debug/net7.0/Polly.Extensions.Http.dll
RedditLiveStats/bin/Debug/net7.0/RedditLiveStats
RedditLiveStats/bin/Debug/net7.0/RedditLiveStats.deps.json
RedditLiveStats/bin/Debug/net7.0/RedditLiveStats.dll
RedditLiveStats/bin/Debug/net7.0/RedditLiveStats.pdb
RedditLiveStats/bin/Debug/net7.0/RedditLiveStats.runtimeconfig.json
RedditLiveStats/bin/Debug/net7.0/RedditLiveStatsUI/reddit-live-stats-client/package-lock.json
RedditLiveStats/bin/Debug/net7.0/RedditLiveStatsUI/reddit-live-stats-client/package.json
RedditLiveStats/bin/Debug/net7.0/RedditLiveStatsUI/reddit-live-stats-client/public/manifest.json
RedditLiveStats/bin/Debug/net7.0/RestSharp.dll
RedditLiveStats/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
RedditLiveStats/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
RedditLiveStats/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
RedditLiveStats/obj/Debug/net7.0/apphost
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.assets.cache
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.csproj.AssemblyReference.cache
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.csproj.CopyComplete
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.csproj.CoreCompileInputs.cache
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.csproj.FileListAbsolute.txt
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.dll
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.genruntimeconfig.cache
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.MvcApplicationPartsAssemblyInfo.cache
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.MvcApplicationPartsAssemblyInfo.cs
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.pdb
RedditLiveStats/obj/Debug/net7.0/ref/RedditLiveStats.dll
RedditLiveStats/obj/Debug/net7.0/refint/RedditLiveStats.dll
RedditLiveStats/obj/Debug/net7.0/staticwebassets.build.json
RedditLiveStats/obj/Debug/net7.0/staticwebassets/msbuild.build.RedditLiveStats.props
RedditLiveStats/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.RedditLiveStats.props
RedditLiveStats/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.RedditLiveStats.props
RedditLiveStats/obj/project.assets.json
RedditLiveStats/obj/project.nuget.cache
RedditLiveStats/obj/RedditLiveStats.csproj.nuget.dgspec.json
RedditLiveStats/obj/RedditLiveStats.csproj.nuget.g.props
RedditLiveStats/obj/RedditLiveStats.csproj.nuget.g.targets
RedditLiveStats/obj/Debug/net7.0/RedditLiveStats.csproj.AssemblyReference.cache
RedditLiveStats.Tests/obj/Debug/net7.0/RedditLiveStats.Tests.csproj.AssemblyReference.cache
RedditLiveStats.Tests/bin/Debug/net7.0/nunit_random_seed.tmp
